<footer>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h2>About piep!</h2>
        <p>
          Piep.io  is a package manager for educational materials   related to teaching programming and computer science.   Creating good content for a class is the biggest  bottleneck in developing good educational programs in  these fields, partially because the field moves so quickly.   Piep.io aims to harness the power of the community to  alleviate this bottleneck and produce relevant up-to-date  open source content for teachers.
        </p>
      </div>
      <div class="col-3">
        <h2>Documentation</h2>
        <ul class="docs">
          <li><a href="#">Getting Started</a></li>
          <li><a href="#">Publishing your own Package</a></li>
          <li><a href="#">Deploy your own piep.io</a></li>
          <li><a href="#">Contributing</a></li>
        </ul>
        <h2>Stay in Touch</h2>
        <form>
          <input type="text" value="Your email"/>
          <button>Submit</button>
        </form>
      </div>
    </div>
  </div>
</footer>