<header>
  <div class="container">
    <nav class="clearfix">
      <ul>
        <li><a href="#">Search</a></li>
        <li><a href="#">Popular</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
</header>